*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  --background-color: #1f1f1f;
  --button-background-color: #1a1a1a;
  --background-task-color: #2a2a2a;
  --deletebtn-background-color: #eb3c3c;
  --primary-text-color: rgb(220, 222, 222);
  --primary-border-color: #1e90ff ;
  --secondary-button-color: #e8005d;

  /* Padding Variables */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* Border-radius variables */
  --border-sm: 5px;
  --border-md: 10px;
  --border-lg: 15px;
  --border-xl: 20px;
  --border-xxl: 30px;

  /* Font size variables */
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 20px;  
  --font-xl: 24px;
  --font-xxl: 30px;
}

body{
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

main{
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav{
  padding: var(--nav-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

nav button{
  background-color: var(--button-background-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-md) var(--padding-lg);
  cursor: pointer;
  border-radius: var(--border-md);
}

section{
  padding: var(--section-padding);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: var(--padding-xl);
}

section .task-column{
  width: 100%;
  background-color: var(--button-background-color);
  flex-grow: 1;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  border-radius: var(--border-xl);
  transition: all 0.1s linear;
}

section .task-column.hover-over{
  border: 2px solid var(--primary-border-color);
  scale: 1.02;
}

section .task-column .title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .task-column .task{
  background-color: var(--background-task-color);
  padding: var(--padding-md);
  border-radius: var(--border-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  cursor: grab;
}

section .task-column .task:active{
  cursor: grabbing;
}

section .task-column .task button{
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-sm);
  border: none;
  outline: none;
  border-radius: var(--border-md);
  background-color: var(--deletebtn-background-color);
  color: var(--primary-text-color);
  font-size: var(--font-md);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.active{
  display: flex;
}

.modal .bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.404);
  backdrop-filter: blur(1.88px);
}

.modal .center{
  background-color: var(--button-background-color);
  padding: var(--padding-xl);
  border-radius: var(--border-xl);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  z-index: 10;
}

.modal .center input, .modal .center textarea, .modal .center select{
  background-color: var(--background-task-color);
  padding: var(--padding-md);
  border-radius: var(--border-md);
  border: none;
  outline: none;
  color: var(--primary-text-color);
}

.modal .center button{
  background-color: var(--secondary-button-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-md);
  cursor: pointer;
  border-radius: var(--border-md);
  width: fit-content;
  align-self: center;
}